<?xml version='1.0' encoding='utf-8'?>
<routes>
  <route id="route_CM_A69A1" edges="47290415#6" />
  <vehicle id="v0" type="truck" route="route_CM_A69A1" depart="10" />
  <vehicle id="v1" type="car" route="route_CM_A69A1" depart="902" />
  <vehicle id="v2" type="truck" route="route_CM_A69A1" depart="1795" />
  <vehicle id="v3" type="car" route="route_CM_A69A1" depart="5070" />
  <vehicle id="v4" type="car" route="route_CM_A69A1" depart="5220" />
  <vehicle id="v5" type="car" route="route_CM_A69A1" depart="5397" />
  <vehicle id="v6" type="car" route="route_CM_A69A1" depart="7478" />
  <vehicle id="v7" type="car" route="route_CM_A69A1" depart="7815" />
  <vehicle id="v8" type="car" route="route_CM_A69A1" depart="8412" />
  <vehicle id="v9" type="car" route="route_CM_A69A1" depart="8512" />
  <vehicle id="v10" type="car" route="route_CM_A69A1" depart="8612" />
  <vehicle id="v11" type="car" route="route_CM_A69A1" depart="9021" />
  <vehicle id="v12" type="car" route="route_CM_A69A1" depart="9171" />
  <vehicle id="v13" type="car" route="route_CM_A69A1" depart="9591" />
  <vehicle id="v14" type="car" route="route_CM_A69A1" depart="9651" />
  <vehicle id="v15" type="car" route="route_CM_A69A1" depart="9711" />
  <vehicle id="v16" type="car" route="route_CM_A69A1" depart="9771" />
  <vehicle id="v17" type="car" route="route_CM_A69A1" depart="9831" />
  <vehicle id="v18" type="car" route="route_CM_A69A1" depart="10538" />
  <vehicle id="v19" type="car" route="route_CM_A69A1" depart="10688" />
  <vehicle id="v20" type="car" route="route_CM_A69A1" depart="11119" />
  <vehicle id="v21" type="car" route="route_CM_A69A1" depart="11721" />
  <vehicle id="v22" type="car" route="route_CM_A69A1" depart="11821" />
  <vehicle id="v23" type="car" route="route_CM_A69A1" depart="11921" />
  <vehicle id="v24" type="car" route="route_CM_A69A1" depart="12347" />
  <vehicle id="v25" type="car" route="route_CM_A69A1" depart="12497" />
  <vehicle id="v26" type="car" route="route_CM_A69A1" depart="12950" />
  <vehicle id="v27" type="car" route="route_CM_A69A1" depart="13547" />
  <vehicle id="v28" type="car" route="route_CM_A69A1" depart="13697" />
  <vehicle id="v29" type="bus" route="route_CM_A69A1" depart="13847" />
  <vehicle id="v30" type="car" route="route_CM_A69A1" depart="14129" />
  <vehicle id="v31" type="car" route="route_CM_A69A1" depart="14229" />
  <vehicle id="v32" type="car" route="route_CM_A69A1" depart="14329" />
  <vehicle id="v33" type="car" route="route_CM_A69A1" depart="14703" />
  <vehicle id="v34" type="car" route="route_CM_A69A1" depart="15061" />
  <vehicle id="v35" type="car" route="route_CM_A69A1" depart="15136" />
  <vehicle id="v36" type="car" route="route_CM_A69A1" depart="15211" />
  <vehicle id="v37" type="car" route="route_CM_A69A1" depart="15286" />
  <vehicle id="v38" type="bus" route="route_CM_A69A1" depart="15361" />
  <vehicle id="v39" type="bus" route="route_CM_A69A1" depart="15511" />
  <vehicle id="v40" type="car" route="route_CM_A69A1" depart="15637" />
  <vehicle id="v41" type="car" route="route_CM_A69A1" depart="15787" />
  <vehicle id="v42" type="truck" route="route_CM_A69A1" depart="15937" />
  <vehicle id="v43" type="car" route="route_CM_A69A1" depart="16242" />
  <vehicle id="v44" type="car" route="route_CM_A69A1" depart="16292" />
  <vehicle id="v45" type="car" route="route_CM_A69A1" depart="16342" />
  <vehicle id="v46" type="car" route="route_CM_A69A1" depart="16392" />
  <vehicle id="v47" type="car" route="route_CM_A69A1" depart="16442" />
  <vehicle id="v48" type="car" route="route_CM_A69A1" depart="16492" />
  <vehicle id="v49" type="bus" route="route_CM_A69A1" depart="16542" />
  <vehicle id="v50" type="car" route="route_CM_A69A1" depart="16826" />
  <vehicle id="v51" type="car" route="route_CM_A69A1" depart="16926" />
  <vehicle id="v52" type="car" route="route_CM_A69A1" depart="17026" />
  <vehicle id="v53" type="bus" route="route_CM_A69A1" depart="17447" />
  <vehicle id="v54" type="car" route="route_CM_A69A1" depart="18045" />
  <vehicle id="v55" type="car" route="route_CM_A69A1" depart="18105" />
  <vehicle id="v56" type="car" route="route_CM_A69A1" depart="18165" />
  <vehicle id="v57" type="car" route="route_CM_A69A1" depart="18225" />
  <vehicle id="v58" type="car" route="route_CM_A69A1" depart="18285" />
  <vehicle id="v59" type="car" route="route_CM_A69A1" depart="18671" />
  <vehicle id="v60" type="car" route="route_CM_A69A1" depart="18746" />
  <vehicle id="v61" type="car" route="route_CM_A69A1" depart="18821" />
  <vehicle id="v62" type="car" route="route_CM_A69A1" depart="18896" />
  <vehicle id="v63" type="car" route="route_CM_A69A1" depart="19227" />
  <vehicle id="v64" type="car" route="route_CM_A69A1" depart="19277" />
  <vehicle id="v65" type="car" route="route_CM_A69A1" depart="19327" />
  <vehicle id="v66" type="car" route="route_CM_A69A1" depart="19377" />
  <vehicle id="v67" type="car" route="route_CM_A69A1" depart="19427" />
  <vehicle id="v68" type="car" route="route_CM_A69A1" depart="19477" />
  <vehicle id="v69" type="car" route="route_CM_A69A1" depart="19855" />
  <vehicle id="v70" type="car" route="route_CM_A69A1" depart="19930" />
  <vehicle id="v71" type="car" route="route_CM_A69A1" depart="20005" />
  <vehicle id="v72" type="car" route="route_CM_A69A1" depart="20080" />
  <vehicle id="v73" type="car" route="route_CM_A69A1" depart="20442" />
  <vehicle id="v74" type="car" route="route_CM_A69A1" depart="20502" />
  <vehicle id="v75" type="car" route="route_CM_A69A1" depart="20562" />
  <vehicle id="v76" type="car" route="route_CM_A69A1" depart="20622" />
  <vehicle id="v77" type="car" route="route_CM_A69A1" depart="20682" />
  <vehicle id="v78" type="bus" route="route_CM_A69A1" depart="20742" />
  <vehicle id="v79" type="car" route="route_CM_A69A1" depart="21614" />
  <vehicle id="v80" type="car" route="route_CM_A69A1" depart="21674" />
  <vehicle id="v81" type="car" route="route_CM_A69A1" depart="21734" />
  <vehicle id="v82" type="car" route="route_CM_A69A1" depart="21794" />
  <vehicle id="v83" type="car" route="route_CM_A69A1" depart="21854" />
  <vehicle id="v84" type="car" route="route_CM_A69A1" depart="22551" />
  <vehicle id="v85" type="truck" route="route_CM_A69A1" depart="22851" />
  <vehicle id="v86" type="car" route="route_CM_A69A1" depart="22854" />
  <vehicle id="v87" type="car" route="route_CM_A69A1" depart="22896" />
  <vehicle id="v88" type="car" route="route_CM_A69A1" depart="22938" />
  <vehicle id="v89" type="car" route="route_CM_A69A1" depart="22980" />
  <vehicle id="v90" type="car" route="route_CM_A69A1" depart="23022" />
  <vehicle id="v91" type="car" route="route_CM_A69A1" depart="23064" />
  <vehicle id="v92" type="car" route="route_CM_A69A1" depart="23106" />
  <vehicle id="v93" type="bus" route="route_CM_A69A1" depart="23148" />
  <vehicle id="v94" type="truck" route="route_CM_A69A1" depart="23448" />
  <vehicle id="v95" type="car" route="route_CM_A69A1" depart="23160" />
  <vehicle id="v96" type="car" route="route_CM_A69A1" depart="23762" />
  <vehicle id="v97" type="car" route="route_CM_A69A1" depart="23862" />
  <vehicle id="v98" type="car" route="route_CM_A69A1" depart="23962" />
  <vehicle id="v99" type="car" route="route_CM_A69A1" depart="24981" />
  <vehicle id="v100" type="car" route="route_CM_A69A1" depart="25131" />
  <vehicle id="v101" type="truck" route="route_CM_A69A1" depart="25281" />
  <vehicle id="v102" type="car" route="route_CM_A69A1" depart="25883" />
  <vehicle id="v103" type="car" route="route_CM_A69A1" depart="25933" />
  <vehicle id="v104" type="car" route="route_CM_A69A1" depart="25983" />
  <vehicle id="v105" type="car" route="route_CM_A69A1" depart="26033" />
  <vehicle id="v106" type="car" route="route_CM_A69A1" depart="26083" />
  <vehicle id="v107" type="car" route="route_CM_A69A1" depart="26133" />
  <vehicle id="v108" type="car" route="route_CM_A69A1" depart="26476" />
  <vehicle id="v109" type="car" route="route_CM_A69A1" depart="26536" />
  <vehicle id="v110" type="car" route="route_CM_A69A1" depart="26596" />
  <vehicle id="v111" type="car" route="route_CM_A69A1" depart="26656" />
  <vehicle id="v112" type="car" route="route_CM_A69A1" depart="26716" />
  <vehicle id="v113" type="truck" route="route_CM_A69A1" depart="26776" />
  <vehicle id="v114" type="car" route="route_CM_A69A1" depart="27060" />
  <vehicle id="v115" type="car" route="route_CM_A69A1" depart="27120" />
  <vehicle id="v116" type="car" route="route_CM_A69A1" depart="27180" />
  <vehicle id="v117" type="car" route="route_CM_A69A1" depart="27240" />
  <vehicle id="v118" type="car" route="route_CM_A69A1" depart="27300" />
  <vehicle id="v119" type="car" route="route_CM_A69A1" depart="27683" />
  <vehicle id="v120" type="car" route="route_CM_A69A1" depart="27758" />
  <vehicle id="v121" type="car" route="route_CM_A69A1" depart="27833" />
  <vehicle id="v122" type="car" route="route_CM_A69A1" depart="27908" />
  <vehicle id="v123" type="car" route="route_CM_A69A1" depart="28279" />
  <vehicle id="v124" type="car" route="route_CM_A69A1" depart="28316" />
  <vehicle id="v125" type="car" route="route_CM_A69A1" depart="28353" />
  <vehicle id="v126" type="car" route="route_CM_A69A1" depart="28390" />
  <vehicle id="v127" type="car" route="route_CM_A69A1" depart="28427" />
  <vehicle id="v128" type="car" route="route_CM_A69A1" depart="28464" />
  <vehicle id="v129" type="car" route="route_CM_A69A1" depart="28501" />
  <vehicle id="v130" type="car" route="route_CM_A69A1" depart="28538" />
  <vehicle id="v131" type="car" route="route_CM_A69A1" depart="28869" />
  <vehicle id="v132" type="car" route="route_CM_A69A1" depart="28911" />
  <vehicle id="v133" type="car" route="route_CM_A69A1" depart="28953" />
  <vehicle id="v134" type="car" route="route_CM_A69A1" depart="28995" />
  <vehicle id="v135" type="car" route="route_CM_A69A1" depart="29037" />
  <vehicle id="v136" type="car" route="route_CM_A69A1" depart="29079" />
  <vehicle id="v137" type="car" route="route_CM_A69A1" depart="29121" />
  <vehicle id="v138" type="car" route="route_CM_A69A1" depart="29192" />
  <vehicle id="v139" type="car" route="route_CM_A69A1" depart="29342" />
  <vehicle id="v140" type="car" route="route_CM_A69A1" depart="30393" />
  <vehicle id="v141" type="bus" route="route_CM_A69A1" depart="30693" />
  <vehicle id="v142" type="car" route="route_CM_A69A1" depart="30966" />
  <vehicle id="v143" type="car" route="route_CM_A69A1" depart="31569" />
  <vehicle id="v144" type="car" route="route_CM_A69A1" depart="31898" />
  <vehicle id="v145" type="car" route="route_CM_A69A1" depart="31948" />
  <vehicle id="v146" type="car" route="route_CM_A69A1" depart="31998" />
  <vehicle id="v147" type="car" route="route_CM_A69A1" depart="32048" />
  <vehicle id="v148" type="car" route="route_CM_A69A1" depart="32098" />
  <vehicle id="v149" type="car" route="route_CM_A69A1" depart="32148" />
  <vehicle id="v150" type="car" route="route_CM_A69A1" depart="32486" />
  <vehicle id="v151" type="car" route="route_CM_A69A1" depart="32636" />
  <vehicle id="v152" type="bus" route="route_CM_A69A1" depart="32786" />
  <vehicle id="v153" type="bus" route="route_CM_A69A1" depart="32936" />
  <vehicle id="v154" type="car" route="route_CM_A69A1" depart="33101" />
  <vehicle id="v155" type="car" route="route_CM_A69A1" depart="33151" />
  <vehicle id="v156" type="car" route="route_CM_A69A1" depart="33201" />
  <vehicle id="v157" type="car" route="route_CM_A69A1" depart="33251" />
  <vehicle id="v158" type="car" route="route_CM_A69A1" depart="33301" />
  <vehicle id="v159" type="car" route="route_CM_A69A1" depart="33351" />
  <vehicle id="v160" type="car" route="route_CM_A69A1" depart="33681" />
  <vehicle id="v161" type="car" route="route_CM_A69A1" depart="33723" />
  <vehicle id="v162" type="car" route="route_CM_A69A1" depart="33765" />
  <vehicle id="v163" type="car" route="route_CM_A69A1" depart="33807" />
  <vehicle id="v164" type="car" route="route_CM_A69A1" depart="33849" />
  <vehicle id="v165" type="car" route="route_CM_A69A1" depart="33891" />
  <vehicle id="v166" type="car" route="route_CM_A69A1" depart="33933" />
  <vehicle id="v167" type="bus" route="route_CM_A69A1" depart="33975" />
  <vehicle id="v168" type="car" route="route_CM_A69A1" depart="34301" />
  <vehicle id="v169" type="car" route="route_CM_A69A1" depart="34351" />
  <vehicle id="v170" type="car" route="route_CM_A69A1" depart="34401" />
  <vehicle id="v171" type="car" route="route_CM_A69A1" depart="34451" />
  <vehicle id="v172" type="car" route="route_CM_A69A1" depart="34501" />
  <vehicle id="v173" type="car" route="route_CM_A69A1" depart="34551" />
  <vehicle id="v174" type="truck" route="route_CM_A69A1" depart="34601" />
  <vehicle id="v175" type="car" route="route_CM_A69A1" depart="34855" />
  <vehicle id="v176" type="car" route="route_CM_A69A1" depart="34905" />
  <vehicle id="v177" type="car" route="route_CM_A69A1" depart="34955" />
  <vehicle id="v178" type="car" route="route_CM_A69A1" depart="35005" />
  <vehicle id="v179" type="car" route="route_CM_A69A1" depart="35055" />
  <vehicle id="v180" type="car" route="route_CM_A69A1" depart="35105" />
  <vehicle id="v181" type="car" route="route_CM_A69A1" depart="35190" />
  <vehicle id="v182" type="car" route="route_CM_A69A1" depart="35796" />
  <vehicle id="v183" type="bus" route="route_CM_A69A1" depart="36096" />
  <vehicle id="v184" type="car" route="route_CM_A69A1" depart="37014" />
  <vehicle id="v185" type="car" route="route_CM_A69A1" depart="37164" />
  <vehicle id="v186" type="car" route="route_CM_A69A1" depart="37605" />
  <vehicle id="v187" type="car" route="route_CM_A69A1" depart="37908" />
  <vehicle id="v188" type="car" route="route_CM_A69A1" depart="37945" />
  <vehicle id="v189" type="car" route="route_CM_A69A1" depart="37982" />
  <vehicle id="v190" type="car" route="route_CM_A69A1" depart="38019" />
  <vehicle id="v191" type="car" route="route_CM_A69A1" depart="38056" />
  <vehicle id="v192" type="car" route="route_CM_A69A1" depart="38093" />
  <vehicle id="v193" type="car" route="route_CM_A69A1" depart="38130" />
  <vehicle id="v194" type="car" route="route_CM_A69A1" depart="38167" />
  <vehicle id="v195" type="car" route="route_CM_A69A1" depart="38457" />
  <vehicle id="v196" type="car" route="route_CM_A69A1" depart="38490" />
  <vehicle id="v197" type="car" route="route_CM_A69A1" depart="38523" />
  <vehicle id="v198" type="car" route="route_CM_A69A1" depart="38556" />
  <vehicle id="v199" type="car" route="route_CM_A69A1" depart="38589" />
  <vehicle id="v200" type="car" route="route_CM_A69A1" depart="38622" />
  <vehicle id="v201" type="car" route="route_CM_A69A1" depart="38655" />
  <vehicle id="v202" type="car" route="route_CM_A69A1" depart="38688" />
  <vehicle id="v203" type="car" route="route_CM_A69A1" depart="38721" />
  <vehicle id="v204" type="truck" route="route_CM_A69A1" depart="38754" />
  <vehicle id="v205" type="car" route="route_CM_A69A1" depart="38785" />
  <vehicle id="v206" type="car" route="route_CM_A69A1" depart="38935" />
  <vehicle id="v207" type="car" route="route_CM_A69A1" depart="39118" />
  <vehicle id="v208" type="car" route="route_CM_A69A1" depart="39151" />
  <vehicle id="v209" type="car" route="route_CM_A69A1" depart="39184" />
  <vehicle id="v210" type="car" route="route_CM_A69A1" depart="39217" />
  <vehicle id="v211" type="car" route="route_CM_A69A1" depart="39250" />
  <vehicle id="v212" type="car" route="route_CM_A69A1" depart="39283" />
  <vehicle id="v213" type="car" route="route_CM_A69A1" depart="39316" />
  <vehicle id="v214" type="car" route="route_CM_A69A1" depart="39349" />
  <vehicle id="v215" type="car" route="route_CM_A69A1" depart="39382" />
  <vehicle id="v216" type="car" route="route_CM_A69A1" depart="40279" />
  <vehicle id="v217" type="car" route="route_CM_A69A1" depart="40379" />
  <vehicle id="v218" type="car" route="route_CM_A69A1" depart="40479" />
  <vehicle id="v219" type="car" route="route_CM_A69A1" depart="40610" />
  <vehicle id="v220" type="car" route="route_CM_A69A1" depart="41178" />
  <vehicle id="v221" type="car" route="route_CM_A69A1" depart="41278" />
  <vehicle id="v222" type="car" route="route_CM_A69A1" depart="41378" />
  <vehicle id="v223" type="motorcycle" route="route_CM_A69A1" depart="41478" />
  <vehicle id="v224" type="car" route="route_CM_A69A1" depart="41515" />
  <vehicle id="v225" type="car" route="route_CM_A69A1" depart="41552" />
  <vehicle id="v226" type="car" route="route_CM_A69A1" depart="41589" />
  <vehicle id="v227" type="car" route="route_CM_A69A1" depart="41626" />
  <vehicle id="v228" type="car" route="route_CM_A69A1" depart="41663" />
  <vehicle id="v229" type="car" route="route_CM_A69A1" depart="41700" />
  <vehicle id="v230" type="car" route="route_CM_A69A1" depart="41737" />
  <vehicle id="v231" type="car" route="route_CM_A69A1" depart="41774" />
  <vehicle id="v232" type="car" route="route_CM_A69A1" depart="42125" />
  <vehicle id="v233" type="car" route="route_CM_A69A1" depart="42167" />
  <vehicle id="v234" type="car" route="route_CM_A69A1" depart="42209" />
  <vehicle id="v235" type="car" route="route_CM_A69A1" depart="42251" />
  <vehicle id="v236" type="car" route="route_CM_A69A1" depart="42293" />
  <vehicle id="v237" type="car" route="route_CM_A69A1" depart="42335" />
  <vehicle id="v238" type="car" route="route_CM_A69A1" depart="42377" />
  <vehicle id="v239" type="car" route="route_CM_A69A1" depart="42720" />
  <vehicle id="v240" type="car" route="route_CM_A69A1" depart="42747" />
  <vehicle id="v241" type="car" route="route_CM_A69A1" depart="42774" />
  <vehicle id="v242" type="car" route="route_CM_A69A1" depart="42801" />
  <vehicle id="v243" type="car" route="route_CM_A69A1" depart="42828" />
  <vehicle id="v244" type="car" route="route_CM_A69A1" depart="42855" />
  <vehicle id="v245" type="car" route="route_CM_A69A1" depart="42882" />
  <vehicle id="v246" type="car" route="route_CM_A69A1" depart="42909" />
  <vehicle id="v247" type="car" route="route_CM_A69A1" depart="42936" />
  <vehicle id="v248" type="car" route="route_CM_A69A1" depart="42963" />
  <vehicle id="v249" type="car" route="route_CM_A69A1" depart="42990" />
  <vehicle id="v250" type="car" route="route_CM_A69A1" depart="43322" />
  <vehicle id="v251" type="car" route="route_CM_A69A1" depart="43382" />
  <vehicle id="v252" type="car" route="route_CM_A69A1" depart="43442" />
  <vehicle id="v253" type="car" route="route_CM_A69A1" depart="43502" />
  <vehicle id="v254" type="car" route="route_CM_A69A1" depart="43562" />
  <vehicle id="v255" type="truck" route="route_CM_A69A1" depart="43622" />
  <vehicle id="v256" type="car" route="route_CM_A69A1" depart="43872" />
  <vehicle id="v257" type="car" route="route_CM_A69A1" depart="43947" />
  <vehicle id="v258" type="car" route="route_CM_A69A1" depart="44022" />
  <vehicle id="v259" type="car" route="route_CM_A69A1" depart="44097" />
  <vehicle id="v260" type="car" route="route_CM_A69A1" depart="44528" />
  <vehicle id="v261" type="car" route="route_CM_A69A1" depart="44588" />
  <vehicle id="v262" type="car" route="route_CM_A69A1" depart="44648" />
  <vehicle id="v263" type="car" route="route_CM_A69A1" depart="44708" />
  <vehicle id="v264" type="car" route="route_CM_A69A1" depart="44768" />
  <vehicle id="v265" type="car" route="route_CM_A69A1" depart="45114" />
  <vehicle id="v266" type="car" route="route_CM_A69A1" depart="45164" />
  <vehicle id="v267" type="car" route="route_CM_A69A1" depart="45214" />
  <vehicle id="v268" type="car" route="route_CM_A69A1" depart="45264" />
  <vehicle id="v269" type="car" route="route_CM_A69A1" depart="45314" />
  <vehicle id="v270" type="car" route="route_CM_A69A1" depart="45364" />
  <vehicle id="v271" type="car" route="route_CM_A69A1" depart="45699" />
  <vehicle id="v272" type="car" route="route_CM_A69A1" depart="45741" />
  <vehicle id="v273" type="car" route="route_CM_A69A1" depart="45783" />
  <vehicle id="v274" type="car" route="route_CM_A69A1" depart="45825" />
  <vehicle id="v275" type="car" route="route_CM_A69A1" depart="45867" />
  <vehicle id="v276" type="car" route="route_CM_A69A1" depart="45909" />
  <vehicle id="v277" type="car" route="route_CM_A69A1" depart="45951" />
  <vehicle id="v278" type="car" route="route_CM_A69A1" depart="46014" />
  <vehicle id="v279" type="truck" route="route_CM_A69A1" depart="46314" />
  <vehicle id="v280" type="car" route="route_CM_A69A1" depart="46336" />
  <vehicle id="v281" type="car" route="route_CM_A69A1" depart="46411" />
  <vehicle id="v282" type="car" route="route_CM_A69A1" depart="46486" />
  <vehicle id="v283" type="car" route="route_CM_A69A1" depart="46561" />
  <vehicle id="v284" type="bus" route="route_CM_A69A1" depart="46636" />
  <vehicle id="v285" type="car" route="route_CM_A69A1" depart="46925" />
  <vehicle id="v286" type="car" route="route_CM_A69A1" depart="47521" />
  <vehicle id="v287" type="car" route="route_CM_A69A1" depart="47621" />
  <vehicle id="v288" type="car" route="route_CM_A69A1" depart="47721" />
  <vehicle id="v289" type="bus" route="route_CM_A69A1" depart="47821" />
  <vehicle id="v290" type="car" route="route_CM_A69A1" depart="48142" />
  <vehicle id="v291" type="car" route="route_CM_A69A1" depart="48292" />
</routes>